*.bundle.*
lib/
node_modules/
*.egg-info/
.ipynb_checkpoints
*.tsbuildinfo
jupyterlab_examples_hello_world/labextension
# Version file is handled by hatchling
jupyterlab_examples_hello_world/_version.py

# Yarn cache
.yarn/
